@model IEnumerable<Scopo.HMS.ViewModels.PharmacyBillsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="row mt-md-4 mb-md-2">

    <a class="col-md-2 btn btn-primary" asp-action="Create">Create New Parmacy Bill</a>

</div>

<div class="row">
    <table class="table table-bordered">
        <thead class="text-md-center">
            <tr>
                <th>
                    Patient Name
                </th> <th>
                    Patient Code
                </th> <th>
                    Room
                </th>
                <th>
                    Medicine
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Amount
                </th><th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-md-center">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td> <td>
                    @Html.DisplayFor(modelItem => item.PatientCode)
                </td> <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td> <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" style="text-decoration:none;" asp-action="Edit" asp-route-id="@item.PharmacyBillID"><span><i style="color:grey;" class="far fa-edit"></i></span></a> |
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Details" style="text-decoration:none;margin-left:5px;" asp-action="Details" asp-route-id="@item.PharmacyBillID"><span><i style="color:grey;" class="fas fa-info"></i> </span></a> |
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" style="text-decoration:none;margin-left:5px;" asp-action="Delete" asp-route-id="@item.PharmacyBillID"><span><i style="color:grey;" class="far fa-trash-alt"></i> </span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
