@model Scopo.HMS.Models.Investigation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Investigation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabTestID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabTestID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvestigationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
