@model Scopo.HMS.Models.Admission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdmissionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
